<h1>New Sticker</h1>

<% form_builder = form_for(sticker) %>
<%= form_builder.begin %>
  <%= form_builder.input "title" %>
  <input type="submit" value="Submit"></input>
<%= form_builder.end %>

<a href="/stickers">Back to list</a>
