<h1>New Sticker</h1>

<form method="POST" action="/stickers">
  <input type="text" name="title" placeholder="Title"></input>
  <input type="submit" value="Submit"></input>
</form>

<a href="/stickers">Back to list</a>
